@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Titillium+Web:wght@300&display=swap');

h1{font-family:'Pirata One','Times New Roman', Times, serif; color: #590124; }
h2{font-family:'Pirata One','Times New Roman', Times, serif; color: #590124;}
h3{font-family:'Pirata One','Times New Roman', Times, serif; color: #590124;}
h4{font-family:'Pirata One','Times New Roman', Times, serif; color: #590124;}
p{font-family:'Titillium Web',Arial, Helvetica, sans-serif; color: #0c4d50;}
nav a{float: left; color: #99c9bd; text-align: center; padding: 14px 16px; text-decoration: none; 
    font-size: 17px;}
nav{background-color: #864153; overflow: hidden;}
nav a.hover{color: #dad57a;}
.split{float: right; color: #99c9bd;}
body{width: 100%; padding: 0; margin: 0; background-color: #fcf5e5}
.logo{width:150px; height: 150px; margin-left: 21%;}
.welcome{text-align: center}
.classLinks{display:grid; width: 100%; grid-template-columns: repeat(7, auto); column-gap: 10px;}
.class-img{width: 100%}
.raceLinks{display:grid; width: 100%; grid-template-columns: repeat(7, auto); column-gap: 10px;}
.races{text-align: center; color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.races.hover{color:#0c4d50}
.customLinks{display:grid; width: 100%; grid-template-columns: repeat(5, auto); column-gap: 10px; padding-bottom: 10px; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.custom{text-align: center; color:#590124}
footer{background-color:#864153}
.footerElements{display:grid; width: 100%; grid-template-columns: 25% 50% 25%;}
.social{margin: 0 auto; padding-top: 5px}
.disclaimer{text-align:center; color:#99c9bd}
.contact{height: 50px; margin: 0 auto; padding-top: 5px}
.intro{display:grid; width: 100%; grid-template-columns: auto auto; column-gap: 10px;}
table{margin: 0 auto; color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
table tr:nth-child(odd){background-color:#99c9bd}
.warlockBody{text-align: center;}
.invocations{color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.pacts{color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.spellsLink{color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.itemsLink{color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
.patrons{color:#590124; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
ul{color:#0c4d50; font-family:'Titillium Web',Arial, Helvetica, sans-serif;}
